
<div class="col-sm-4"></div>        
<div class="col-sm-4 container-login">
        <h2 class="center">{{ 'login.account' | trans }}</h2>
        <hr>
        {% if error is defined and error %}
           <div>{{ error.message }}</div>
        {% endif %}
        <form name="login" id="login-form" action="{{ path('login_check') }}" method="post" {%if params.form_class is defined and params.form_class !=''%}class="{{params.form_class}}"{% endif %}>
            <div class="form-group">
               <div>
                   <input class="form-control {%if params.input_email_class is defined and params.input_email_class !=''%}{{params.input_email_class}}{% endif %}" type="text" name="_username" id="_username" placeholder="{{ 'login.email' | trans }}" required="required">
               </div>
            </div>    
            <div class="form-group">
                <div>
                    <input class="form-control {%if params.input_password_class is defined and params.input_password_class !=''%}{{params.input_password_class}}{% endif %}" type="password" name="_password" id="_password" required="required" placeholder="{{ 'login.password' | trans }}">
                </div>
            </div>         
            <div class="form-group added">
                <div class="col-md-6 pull-left">
                    <input type="checkbox" class="{%if params.icheck_class is defined and params.icheck_class !=''%}{{params.icheck_class}}{% else %}minimal{% endif %}" value=""> {{ 'login.remember' | trans }}
                </div>
                <div class="col-md-6">  
                    <a class="pull-right" href="{#{ path('core_actor_recovery') }#}" title="{{ 'login.recovery' | trans }}">{{ 'login.recovery' | trans }}</a>
                </div>   
            </div>
            <button type="submit" class="btn-core btn btn-block {%if params.button_submit_class is defined and params.button_submit_class !=''%}{{params.button_submit_class}}{% endif %}">{{ 'login.short' | trans }}</button>
        </form>
</div>
<div class="col-sm-4"></div>               

